# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
!terraform/terraform.tfvars.example

# Ansible
ansible/*.retry

# Secrets / env
.env
